$darck-color: #060b35;
$isActiv-color: #00acdc;
$small-text-color: #616070;
$btn-text-color: #fff;
$bold-weight: 700;
$card-width: 200px;
$star-size: 16px;
$stars-gap: 4px;
$stars-margin-bottom: 24px;
